include *.md
include dev/build_translations.py
include LICENSE
include pyproject.toml
include run
include po/*.pot
include po/*.po
include rednotebook/images/*.png
include rednotebook/images/dayquay-icon/*.png
include rednotebook/images/dayquay-icon/*.svg
include LICENSES/*.txt
include win/THIRD-PARTY-NOTICES.txt
include win/windows-dependencies.json
include rednotebook/files/*.cfg
include rednotebook/files/*.glade
include rednotebook/files/*.lang
include rednotebook/files/*.xml
